html, body {
    color: #000000;
}

/* Base for light and dark themes */
body[data-bs-theme="light"] {
    background-color: #FFFFFF;
    color: #212529;
}

body[data-bs-theme="dark"] {
    background-color: #343A40;
    color: #F8F9FA;
}

body[data-bs-theme="light"] .sticky-div {
    background-color: #F8F9FA;
    border: #343A40;
}

body[data-bs-theme="dark"] .sticky-div {
    background-color: #343A40;
    border: #F8F9FA;
}

h1, p {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.accordion-body {
    font-size: 10pt;
}

.banner {
    background-color: #000000;
    background-image: url('./img/img_pankaj-patel-_SgRNwAVNKw-unsplash.jpg');
    height: 130px;
}

/* bootstrap icons */
.bi {
    float: left;
    font-size: 32pt;
}

.card-text {
    font-size: 11pt;
}

.card-footer {
    position: relative;
}

.card-subtitle {
    font-size: 11pt;
}

/* override checkbox checked attributes */
.custom-control-input:checked {
    background-color: rgb(33, 37, 41) !important;
    border-color: rgb(73, 80, 87) !important;
}

.modal-content {
    background-color: #000000;
}

.modal-body {
    display: flex;
    justify-content: center;
}

.modal-img {
    background-color: white;
    max-width: 100%;
}

.plugin-logo {
    float: left;
    height: 64px;
    width: 64px;
}

.plugin-logo-img {
    height: 100%;
    width: 100%;
}

.sticky-div {
    width: 98%;
}

.theme-control {
    position: absolute;
    right: 5px;
    z-index: 1;
}

/* TODO: these might not be the best breakpoints, but they do work. */
@media (min-width: 1201px) {
  header {
    font-size: 24pt;
  }
}

@media (max-width: 1200px) {
  header {
    font-size: 20pt;
  }
}

/* Font size for small screens (mobile devices, etc.) */
@media (max-width: 992px) {
  header {
    font-size: 18pt;
  }
}

/* Font size for very small screens (e.g., small phones) */
@media (max-width: 768px) {
  header {
    font-size: 16pt;
  }
}
