body {
    background-color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 32px;
}
caption{
    color: white;
    font-size: 14px;
}
code {
    background-color: #777777;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
div {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}
figure{
    color: yellow;
    font-size: 14px;
    text-align: center;
}
footer {
    display: block;
}
h1 {
    background: #330099;
    border: 1px solid #777777;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
    text-align: left;
}
h2 {
    background: #330099;
    border: 1px solid #777777;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
    text-align: left;
}
h3 {
    background-color: #330099;
    border: 1px solid #777777;
    clear: both;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
    text-align: left;
}
li span{
    color: white;
    background-color: #330099;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
ol {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
p {
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 5px
}
table, th, td {
    border: 1px solid black;
    font-size: 14px;
}
table {
    background-color: gray;
    border-collapse: collapse;
}
td {
    color: black;
}
th {
    background-color: #330099;
    color: white;
}
th, td {
    padding: 5px;
    text-align: center;
}
ul {
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

/*Classes*/
.cautionText{
    color: yellow;
}
.offlineText{
    color: gray;
}
.onlineText{
    color: green;
}
.TextWrap {
    float: right;
    margin: 10px;
}
.TextWrapLeft {
    float: left;
    margin: 10px;
}
.underConstruction {
    background-color: yellow;
    color: black;
}
.warningText{
    color: red;
}

/*Attempts to adjust for screen sizes*/
@media (min-width: 858px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 724px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 8px;
    }
}
