html,
body {
  color: #000000;
}
.accordion-body{
    font-size: 10pt;
}
.accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background-color: rgb(190, 200, 236);
}
.banner{
    background-color: #000000;
    font-size: 32pt;
    text-align: left;

}
.bi{
    float: left;
    font-size: 32pt;
}
.card-header{
    background-color: rgb(190, 200, 236);
}
.card-text{
     font-size: 11pt;
}
.modal-content{
    background-color: #000000;
}
.modal-body{
    display: flex;
    justify-content: center;
}

@media (min-width: 1100px) {
  .banner {
      background-image: url('./img/img_pankaj-patel-_SgRNwAVNKw-unsplash.jpg');
  }
}
